<h1>Form for new pages will go here.</h1>


<div>
  <form method="POST" action="/create">
    <fieldset>
      <label for="title">Title: </label>
      <input type="text" name="title" id="title">
    </fieldset>
    <fieldset>
      <label for="content">Content: </label>
      <textarea name="content" id="content" cols="50" rows="10"></textarea>
    </fieldset>
    <input type="submit">
  </form>
</div>