  <h1>Welcome to my simple notebook Sinatra project!</h1>

  <p>Select a note to view</p>

  <h3> Note List </h3>

  <ul class="note_list">

    <% Dir.new("pages").each do |page| %>
      <% page = File.basename("#{page}", ".*") %>
      <% if /^\w/.match(page) %>
        <li> <a href="/<%=page%>"> <%=page %> </a> </li>
      <% end %>
    <% end %>
  </ul>
  
  <p>Or, you can <a href="/new">create a new page</a></p>
